In [1]:
import pandas as pd
import tester
from trainer import read_tables
import os
import argparse
import json
from IPython.display import display, clear_output
import time

/home/cc/code/pyenv/fusion_decoder/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def get_args(dataset):
    work_dir=os.path.abspath('..')
    test_args = argparse.Namespace(work_dir=work_dir,
                                   query_dir='demo_query',
                                   dataset=dataset)
    return test_args

In [3]:
def create_query_file(data_dir, question):
    file_name = 'fusion_query.jsonl'
    data_file = os.path.join(data_dir, file_name)
    query_data = {
        "id":0,
        "question":question,
        "table_id_lst":['N/A'],
        "answers":["N/A"],
        "ctxs": [{"title": "", "text": "This is a example passage."}]
    }
    with open(data_file, 'w') as f_o:
        f_o.write(json.dumps(query_data) + '\n')

In [4]:
def show_results(question, out_dir, table_dict):
    data_file = os.path.join(out_dir, 'pred_None.jsonl')
    with open(data_file) as f:
        item = json.load(f)
    tag_lst = item['tags']
    N = 5
    pred_table_set = set()
    for tag in tag_lst:
        table_id = tag['table_id']
        if table_id not in pred_table_set:
            pred_table_set.add(table_id)
            table = table_dict[table_id]
            show_table(question, table, len(pred_table_set))
        if len(pred_table_set) >= 5:
            return
    
def show_table(question, table, seq_no):
    print("Question, %s" % question)
    print("Top %d table,         %s " % (seq_no, table['documentTitle']))
    col_lst = table['columns']
    col_names = [a['text'] for a in col_lst]
    row_lst = table['rows']
    row_data = []
    for row_item in row_lst:
        cell_lst = row_item['cells']
        row_item = [a['text'] for a in cell_lst]
        row_data.append(row_item)
    df = pd.DataFrame(row_data,columns=col_names)
    display(df)

In [ ]:
dataset=input('Type the dataset, ')
args = get_args(dataset)
print('Loading tables')
table_dict = read_tables(args.work_dir, dataset)
data_dir = os.path.join(args.work_dir, 'data', dataset, 'demo_query', 'test')
if not os.path.isdir(data_dir):
    os.makedirs(data_dir)
question = input('Type a question (q to quit),\n').strip()
while question != 'q':
    create_query_file(data_dir, question)
    out_dir = tester.main(args)
    clear_output(wait=False)
    show_results(question, out_dir, table_dict)
    time.sleep(1)
    question = input('Type a question (q to quit),\n').strip()

Question, Who are the largest employers of US?
Top 1 table,         List of largest employers , Largest employers

,-,Employees,Employees,-
0,Employer,2015,2010,Headquarters
1,United States Department of Defense,2.86 million,2.86 million,United States
2,People's Liberation Army,2.52 million,2.52 million,China
3,Walmart,2.3 million,2.3 million,United States
4,McDonald's,1.9 million,1.7 million,United States
5,National Health Service,1.7 million,1.4 million,United Kingdom
6,China National Petroleum Corporation,1.6 million,1.7 million,China
7,State Grid Corporation of China,1.5 million,1.6 million,China
8,Indian Railways,1.4 million,1.3 million,India
9,Indian Armed Forces,1.3 million,1.3 million,India
10,Hon Hai Precision Industry (Foxconn),1.2 million,0.8 million,Taiwan

Question, Who are the largest employers of US?
Top 2 table,         Professors in the United States , Salary

,Rank,Lowest median by field,Highest median by field,Overall median,Common range,Common salary range in relation to labor force,Common salary range in relation to labor force
0,Rank,Lowest median by field,Highest median by field,Overall median,Common range,"Full-time, age 25+",All earners age 25+
1,Assistant professor,"$45,927","$81,005","$58,662",Low 50s – Low 60s,70th to 75th percentile,77th to 83rd percentile
2,Associate professor,"$56,943","$98,530","$69,911",Low 60s – High 70s,75th to 86th percentile,83rd to 87th percentile
3,Full professor,"$68,214","$136,634","$98,974",High 70s – Low 100s Mid 100s at Elite Universi...,86th to 91st percentile 96th percentile,87th to 91st percentile 97th percentile

Question, Who are the largest employers of US?
Top 3 table,         Professors in the United States , Salary

,Rank,Lowest median by field,Highest median by field,Overall median,Common range,Common salary range in relation to labor force,Common salary range in relation to labor force
0,Rank,Lowest median by field,Highest median by field,Overall median,Common range,"Full-time, age 25+",All earners age 25+
1,Assistant professor,"$45,927","$81,005","$58,662",Low 50s – Low 60s,70th to 75th percentile,77th to 83rd percentile
2,Associate professor,"$56,943","$98,530","$69,911",Low 60s – High 70s,75th to 86th percentile,83rd to 87th percentile
3,Full professor,"$68,214","$136,634","$98,974",High 70s – Low 100s Mid 100s at Elite Universi...,86th to 91st percentile 96th percentile,87th to 91st percentile 97th percentile

Question, Who are the largest employers of US?
Top 4 table,         Palatine, Illinois , Top employers

    #                                   Employer # of Employees
0   1  Community Consolidated School District 15          2,088
1   2          Township High School District 211          2,022
2   3               United States Postal Service          1,000
3   4             Community College District 512            948
4   5                      United Parcel Service            500
5   6                     Little City Foundation            420
6   7                     Weber-Stephen Products            400
7   8                        Village of Palatine            338
8   9                          Intec Group, Inc.            150
9  10                            Keller Williams            140

Question, Who are the largest employers of US?
Top 5 table,         List of newspapers in the United States , Top 10 newspapers by circulation

,Rank,Newspaper,Primary locality,Headquarters state or district,Total average circulation,Owner,Nameplate
0,1,USA Today,"McLean, Virginia",Virginia,"2,301,917",Gannett Company,-
1,2,The New York Times,New York City,New York,"2,101,611",The New York Times Company,-
2,3,The Wall Street Journal,New York City,New York,"1,321,827",News Corp,-
3,4,Los Angeles Times,Los Angeles,California,"467,309",Nant Capital,-
4,5,New York Post,New York,New York,"424,721",News Corp,-
5,6,Chicago Tribune,Chicago,Illinois,"384,962",Tribune Publishing,-
6,7,The Washington Post,Washington D.C.,District of Columbia,"356,768",Nash Holdings,-
7,8,Newsday,Melville,New York,"321,296",Newsday Media,-
8,9,Daily News,New York City,New York,"299,538",Tribune Publishing,-
9,10,AM New York,New York City,New York,"298,759",Newsday Media,-

Type a question (q to quit),
Who won the male 60 metres, male high jump, and female pole vault?

10330it [00:00, 16976.59it/s]

retrieving test table triples

1it [00:00, 3960.63it/s]
3877603it [00:26, 145952.81it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.30s/it]